body{
    text-align: center;
}

#label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
}


#button{
    font-size: 1.5em;
    padding: 10px 20px;
    transition: background-color 0.25s;
    color:rgb(181, 136, 187);
    background-color: aqua;
    border-color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
}

#button:hover{
    background-color: rgb(0, 155, 155);
}